/* Colors */
$red-1: #D7311C;
$red-2: #D9000F;

$white: #fff;

$yellow-1: #FCF8EC;
$yellow-2: #F5B40026;
$yellow-3: #ec87001a;

$yellow-g: #EBAE1D;

$grey-1: #707070;
$grey-2: #B3AFB3;
$grey-3: #979797;
$grey-4: #0000000F;

$green-1: #42b983;

$purple-1: #7F63F4;

$transparent: transparent;