$bg-color-test: #00d1b2;

/*   is-full  */
.column.is-full, .column.is-full-tablet {
    flex: none;
    width: 100%;
    background-color: $bg-color-test; 
}
/*   is-four-fifths   */
.column.is-four-fifths, .column.is-four-fifths-tablet {
    flex: none;
    width: 80%;
    background-color: $bg-color-test;
}
/*   is-three-quarters   */
.column.is-three-quarters, .column.is-three-quarters-tablet {
    flex: none;
    width: 75%;
    background-color: $bg-color-test;
}
/*   is-two-thirds   */
.column.is-two-thirds, .column.is-two-thirds-tablet {
    flex: none;
    width: 66.6666%;
    background-color: $bg-color-test;
}
/*   is-three-fifths   */
.column.is-three-fifths, .column.is-three-fifths-tablet {
    flex: none;
    width: 60%;
    background-color: $bg-color-test;
}
/*   is-half   */
.column.is-half, .column.is-half-tablet {
    flex: none;
    width: 50%;
    background-color: $bg-color-test;
}
/*   is-two-fifths   */
.column.is-two-fifths, .column.is-two-fifths-tablet {
    flex: none;
    width: 40%;
    background-color: $bg-color-test;
}
/*   is-on-third   */
.column.is-one-third, .column.is-one-third-tablet {
    flex: none;
    width: 33.3333%;
    background-color: $bg-color-test;
}
/*   is-one-quarter   */
.column.is-one-quarter, .column.is-one-quarter-tablet {
    flex: none;
    width: 25%;
    background-color: $bg-color-test;
}
/*   is-fifth   */
.column.is-one-fifth, .column.is-one-fifth-tablet {
    flex: none;
    width: 20%;
    background-color: $bg-color-test;
}
