@import "@/scss/_Colors.scss";

.background {
  background     : #fff;
  color          : #707676;
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  background-size: cover !important;
}

.body-content div.columns div.is-12 p{
  padding: 20px !important;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

.body-content{
  min-height     : calc(100vh - 8.25rem - 3.25rem);
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: $cor-secundaria;
  }
}

.shadow{
  -webkit-box-shadow: 2px 3px 5px 0px rgba(146, 146, 146, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(146, 146, 146, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(146, 146, 146, 0.75);
}

img.collection-image{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}



.collection-card{
  padding: 30px !important;
}

.collection-info{
  color: #4c4c4c;
  padding: 20px;
  min-height: 200px;
  border-radius: 15px;
  img{
    margin-right: 15px;
  }
  h1{
    font-size: 20px;
    color: $cor-principal;
    text-transform: uppercase;
    display: block;
    font-weight: 300;
    margin: 0 0 15px;
    line-height: 1.2;
    text-align: center;
  }
  p{
    text-align: justify;
    font-size: 18px;
    color: #707676;
    line-height: 1.5;
    margin: 20px 0 0;
    font-weight: 300;
  }

  .collection-bottons{
    button.button{
      background-color: $red-2;
      color: $yellow-1;
    }
  }
}

.collection-image{
  float: left;
  display: table-cell;

  p{
    margin: unset;
    text-align: center;
    color: $cor-secundaria;
    font-weight: 500;
  }

  img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}


button.button.btn-save-data{
  color: $yellow-1;
  background-color: $cor-secundaria;
  margin-left: 45px;
  border-bottom: 5px $cor-secundaria solid;
}

button.button.btn-save-data:hover{
  color: $cor-principal;
  border-bottom: 5px $cor-principal solid;
}