@import "@/scss/_Colors.scss";

.field.has-addons{
    display: block !important;
}

img.uploading-image {
    display: block;
    width: 100px;
    height: 100px;
    max-height: 100px !important;
    border-radius: 50%;
}