@import "@/scss/_Colors.scss";

.field.has-addons{
    display: block !important;
}

img.uploading-image {
    display: block;
    width: 100px;
    height: 100px;
    max-height: 100px !important;
    border-radius: 50%;
}

.campo-extra{
    padding: 10px !important;
}

.add-campo-extra{
    background-color: $cor-principal !important;
    border-bottom: 5px $cor-principal solid !important;
}

.add-campo-extra:hover{
    color: $cor-secundaria !important;
    border-bottom: 5px $cor-secundaria solid !important;
}
